a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_4407e01 a { text-decoration: none; }
#menu_4407e01_pane { background-color: #08A9A9; border: 1px solid #800000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_4407e01_hr { background-color: #800000; height: 1px; border: none; }
#menu_4407e01_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_4407e01_entry:hover { background-color: #FFFFFF; color: #FF0000 !important; }
#menu_4407e01_entry:hover span { color:#FF0000 !important; }
		.menu_4407e01_mainMenuEntry { text-align: center; }
		.menu_4407e01_mainMenuEntry:hover {	background-color:#282828; }
		.menu_4407e01_mainMenuEntry:hover span {	color:#FF0000 !important; }
		#menu_4407e01 .mobileEntry { display: none; } 
		#menu_4407e01 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_4407e01 .mobileEntry { display: block; } 
			#menu_4407e01 .normalEntry { display: none; } 
		}
#menu_54def589 a { text-decoration: none; }
#menu_54def589_pane { background-color: #08A9A9; border: 1px solid #800000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_54def589_hr { background-color: #800000; height: 1px; border: none; }
#menu_54def589_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_54def589_entry:hover { background-color: #FFFFFF; color: #FF0000 !important; }
#menu_54def589_entry:hover span { color:#FF0000 !important; }
		.menu_54def589_mainMenuEntry { text-align: center; }
		.menu_54def589_mainMenuEntry:hover {	background-color:#282828; }
		.menu_54def589_mainMenuEntry:hover span {	color:#FF0000 !important; }
		#menu_54def589 .mobileEntry { display: none; } 
		#menu_54def589 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_54def589 .mobileEntry { display: block; } 
			#menu_54def589 .normalEntry { display: none; } 
		}
body { background-color:#408080; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#menu_4407e01 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:32px; text-align:left; background-color:#408080; background: linear-gradient(to bottom, #031111, #408080); border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:37px; height:32px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:30px; height:32px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.style5 { position:absolute; width:60px; height:32px; left:40px;  }
.style6 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000;  white-space: nowrap; }
.style7 { position:absolute; width:61px; height:32px; left:100px;  }
.style8 { position:absolute; width:65px; height:32px; left:161px;  }
.style9 { position:absolute; width:77px; height:32px; left:226px;  }
.style10 { position:absolute; width:72px; height:32px; left:303px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#img_99ca00f { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
.textstyle5 { text-align:left; }
#container_6a7a50fb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background-color:#004040;  }
#container_6a7a50fb_padding { margin: 2px 2px 2px 35px;display: block;  }
.textstyle6 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_113d0a74 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_113d0a74_padding { margin: 10px; display: block;  }
#container_1ab660b8 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_1ab660b8_padding { margin: 10px; display: block;  }
#iframe_7bb89573 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:83%; height:206px; background-color:#000000; border: 1px solid #A0A0A0;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_2bea4f79 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:227px; background:none;  }
#container_2bea4f79_padding { margin: 10px; display: block;  }
#iframe_728679a7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:83%; height:206px; background-color:#000000; border: 1px solid #A0A0A0;  }
#container_eaea99e { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_eaea99e_padding { margin: 10px; display: block;  }
#iframe_6df3d864 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:83%; height:206px; background-color:#000000; border: 1px solid #A0A0A0;  }
#container_57cbc42 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:227px; background:none;  }
#container_57cbc42_padding { margin: 10px; display: block;  }
#iframe_1aecee18 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:83%; height:206px; background-color:#000000; border: 1px solid #A0A0A0;  }
#container_63a4c500 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_63a4c500_padding { margin: 10px; display: block;  }
#iframe_33d03df { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:83%; height:206px; background-color:#000000; border: 1px solid #A0A0A0;  }
#container_3e8f3b69 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:227px; background:none;  }
#container_3e8f3b69_padding { margin: 10px; display: block;  }
#iframe_1579b52a { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:83%; height:206px; background-color:#000000; border: 1px solid #A0A0A0;  }
#container_2fb4024c { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_2fb4024c_padding { margin: 10px; display: block;  }
#iframe_31e85d79 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:83%; height:206px; background-color:#000000; border: 1px solid #A0A0A0;  }
.textstyle9 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_1bdd96c7 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:227px; background:none;  }
#container_1bdd96c7_padding { margin: 10px; display: block;  }
#iframe_56a71511 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:83%; height:206px; background-color:#000000; border: 1px solid #A0A0A0;  }
#container_46abebbb { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_46abebbb_padding { margin: 10px; display: block;  }
#iframe_49098cb6 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:83%; height:206px; background-color:#000000; border: 1px solid #A0A0A0;  }
#container_24aa993 { vertical-align: top; position:relative; display: inline-block; width:49%; min-height:262px; background:none;  }
#container_24aa993_padding { margin: 10px; display: block;  }
#iframe_2cec44a1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:83%; height:206px; background-color:#000000; border: 1px solid #A0A0A0;  }
#container_6933d5ab { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_6933d5ab_padding { margin: 10px; display: block;  }
#container_43c64280 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_43c64280_padding { margin: 10px; display: block;  }
#container_3bd38d17 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_3bd38d17_padding { margin: 10px; display: block;  }
#menu_54def589 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:32px; text-align:left; background-color:#408080; background: linear-gradient(to bottom, #031111, #408080); border: 1px solid #A0A0A0;  }
@media only screen and (max-width: 400px)
{
		#container_1ab660b8 { width:100%;  }
		#container_2bea4f79 { width:100%;  }
		#container_eaea99e { width:100%;  }
		#container_57cbc42 { width:100%;  }
		#container_63a4c500 { width:100%;  }
		#container_3e8f3b69 { width:100%;  }
		#container_2fb4024c { width:100%;  }
		#container_1bdd96c7 { width:100%;  }
		#container_46abebbb { width:100%;  }
		#container_24aa993 { width:100%;  }
		#container_43c64280 { width:100%;  }
		#container_3bd38d17 { width:100%;  }
}
